/* 
    Created on : 15.10.2014, 12:51:08
    Author     : vkriuchkov
*/

@media print
{
    #non-printable { display: none; }
}
.center {
        text-align: center;
    }
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.bold {
    font-weight: bold;
    font-size: 14px;
}

.table{
    vertical-align: top;
    margin-bottom: 10px;
}
.table p {
    
   
}

.table p {
        margin: 1px;
        line-height: 1em;
    }
    
body
{
    font-size: 14px !important;
    margin: 1px;
        line-height: 1em;
}

hr{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.table-bordered, .table-bordered th, .table-bordered tr, .table-bordered td{
    border:1px solid #000 !important;
    padding: 5px;
}
.table 
{
    font-size: 12px !important;
}